@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Lobster|Fredericka+the+Great');

h1,
h2 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

h1 {
  color: #7b95ad;
  font-size: 40px;
  line-height: 50px;
  margin: 32px 0;
}

h2 {
  color: #34434e;
  font-size: 24px;
}

p {
  color: #2a333c;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: center;
}

label {
  color: #43889d;
  display: inline-block;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 24px;
}

input {
  border: 0;
  height: 24px;
  padding: 0;
  width: 35px;
}

input::-webkit-color-swatch-wrapper {
  border: 1px solid #34434e;
  border-radius: 2px;
  padding: 0;
}

input::-webkit-color-swatch {
  border: 0;
}

hr {
  border: 0;
}

hr::before {
  color: #c3dbfd;
  content: "\2601\a0\2601\a0\2601";
  display: block;
  font-size: 30px;
  margin: 8px 0;
  text-align: center;
}

br {
  display: none;
}

button {
  background-color: #43889d;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-family: 'Fredericka the Great', cursive;
  font-size: 10px;
  height: 24px;
  letter-spacing: 2px;
  padding: 0 10px;
  text-transform: uppercase;
}

button:hover {
  background-color: #2b454f;
}

.container {
  padding: 0 30px 100px;
}

.form {
  margin: 40px auto 0;
  width: 500px;
}

.form__row {
  margin-bottom: 20px;
}

.form__row::after {
  clear: both;
  content: "";
  display: table;
}

.form__label {
  float: left;
  margin-right: 20px;
  text-align: right;
  width: 250px;
}

.form__inputs {
  float: left;
}

.form__inputs.palette-inputs::after {
  clear: both;
  content: "";
  display: table;
}

.form__inputs.palette-inputs > div {
  float: left;
  margin-right: 5px;
}

.result {
  margin-top: 56px;
}

.result__wrapper {
  margin-top: 32px;
}

.result__color {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #43889d;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.result__row {
  margin-top: 32px;
  position: relative;
  text-align: center;
}

.result__row__input {
  background: none;
  border-bottom: 1px dashed #43889d;
  color: #2a333c;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
  padding: 10px;
  text-align: left;
  width: 250px;
}

.result__row__copy-button {
  margin-left: -80px;
  text-align: center;
  width: 80px;
}

.result__row__copy-alert {
  position: absolute;
}

@media (min-width: 550px) {
  h1 {
    display: flex;
  }

  h1::after,
  h1::before {
    background-color: #7b95ad;
    content: "";
    display: block;
    flex: 1;
    height: 1px;
    margin-top: 25px;
  }

  h1::before {
    margin-right: 40px;
  }

  h1::after {
    margin-left: 40px;
  }

  hr::before {
    font-size: 50px;
  }

  .result__row__input {
    font-size: 24px;
    text-align: center;
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    position: relative;
    width: 1024px;
  }

  br {
    display: block;
  }
}
